.custom-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

.mr-2 {
    margin-right: 1em;
    align-self: auto;
}

.no-whitespace {
    white-space: nowrap;
}

.flex-auto {
    flex: auto;
}

.panel-footer {
    display: flex;
    border-top: 1px solid #337ab7;
}

.required:after { 
    content:" *"; 
    color: red;
}

#img1 {
    width: 1080px;
    height: 450px;
    opacity: 0.20;
}

#img2 {
    width: 420px;
    position: absolute;
    top: 20px;
    left: 70px;
}